services:
  web:
    build: .
    env_file: .env
    ports:
      - "8008:8000"
    depends_on:
      - db
      - redis
    command: gunicorn staffsearch.wsgi:application -b 0.0.0.0:8000

  worker:
    build: .
    env_file: .env
    depends_on:
      - db
      - redis
    command: celery -A staffsearch worker -l info

  scheduler:
    build: .
    env_file: .env
    depends_on:
      - db
      - redis
    command: celery -A staffsearch beat -l info

  db:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_DB: staffsearch
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
