services:
  web:
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    environment:
      DJANGO_DEBUG: "1"

  worker:
    volumes:
      - .:/app

  scheduler:
    volumes:
      - .:/app
